.about {
  .about-context {
    .section-header {
      padding: 80px 0;
      .section-top {
        h1 {
          font-size: 80px;
          font-weight: 700;
          line-height: 100px;
          color: #061237;
          margin: 0;
        }
        .category {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          span {
            font-size: 16px;
            line-height: 24px;
            color: #586268;
            &:first-child {
              margin-right: 7px;
            }
            &:last-child {
              margin-left: 12px;
            }
          }
          .line {
            width: 60px;
            height: 1.2px;
            background-color: #586268;
          }
        }
      }
      .section-bottom {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        p {
          width: 75%;
          line-height: 32px;
          font-size: 16px;
          text-align: justify;
        }
      }
    }
  }
}

.about-text {
  background-image: url(../../public/images/MainPageBg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #061237;
  padding: 80px 0;
  .whoAreWe {
    h3 {
      font-weight: 500;
      font-size: 40px;
      line-height: 52px;
      color: #f9fafb;
      margin: 0;
      margin-bottom: 68px;
      text-align: center;
    }
    .whoAreWe-context {
      display: flex;
      justify-content: center;
      align-items: center;
      .left-side {
        width: 50%;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .right-side {
        width: 50%;
        h4 {
          font-weight: 400;
          font-size: 32px;
          line-height: 44px;
          text-align: justify;
          color: #f9fafb;
          margin: 0;
          margin-bottom: 12px;
        }
        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 28px;
          text-align: justify;
          color: #e8ecf1;
          margin: 0;
        }
      }
    }
  }
  .work-process {
    padding-top: 160px;
    padding-bottom: 110px;
    .work-process-header {
      h3 {
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;
        text-align: center;
        color: #f9fafb;
        margin: 0;
      }
      p {
        margin: 0;
        margin-bottom: 60px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #acb3b8;
      }
    }
    .cards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      .process-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 2;
        .process-card-img {
          width: 140px;
          height: 140px;
          border-radius: 50%;
          margin-bottom: 36px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        span {
          font-weight: 500;
          font-size: 20px;
          line-height: 32px;
          color: #f9fafb;
        }
      }
      .line {
        width: 91%;
        top: 35%;
        left: 23px;
        height: 1px;
        background: #f9fafb;
        position: absolute;
        z-index: 1;
      }
    }
  }
}

@include breakpoint(phablet) {
  .about {
    .about-context {
      .section-header {
        padding: 0;
        .section-top {
          h1 {
            @include fontSize(20px, 600, 32px);
          }
          .category {
            span {
              @include fontSize(14px, 400, 20px);
            }
          }
        }
        .section-bottom {
          p {
            width: 100%;
            @include fontSize(12px, 400, 16px);
          }
        }
      }
    }
  }
  .about-text {
    padding: 0;
    .whoAreWe {
      h3 {
        @include fontSize(20px, 500, 32px);
        margin-bottom: 0;
      }
      .whoAreWe-context {
        flex-direction: column;
        .left-side,
        .right-side {
          width: 100%;
          h4 {
            @include fontSize(18px, 400, 32px);
          }
          p {
            @include fontSize(12px, 400, 16px);
          }
        }
      }
    }
    .work-process {
      .work-process-header {
        h3 {
          @include fontSize(20px, 500, 32px);
        }
        p {
          @include fontSize(12px, 400, 16px);
        }
      }
      .cards {
        flex-direction: column;
        .process-card {
          margin-bottom: 10px;
          .process-card-img {
            margin-bottom: 10px;
            width: 100px;
            height: 100px;
          }
          span {
            text-align: center;
            @include fontSize(14px, 500, 20px);
          }
        }
        .line {
          display: none;
        }
      }
    }
  }
}
