

//fonts
$Poppins: "Poppins", sans-serif;
$Montserrat: "Montserrat", sans-serif;

//colors
$bgColor: "#061237";
$mainButtonAndBorder: "#1C64EB";
$darkBlue: "#3121E8";

//border radius
$teamImageBorderRadius: 12px;
$buttonBorderRadius: 8px;
$littleButtonBorderRadius: 4px;
$testimonialsBorderRadius: 25px;
